/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 26, 2021, 11:14:31 PM
    Author     : LucasBV
*/
.right{
    background-color: #99ff66;
}
.wrong {
    background-color: #ff3333;
}




